:root {
  /* Brand Colors */
  --color-primary: #222;
  --color-secondary: #af2120;

  /* Background Colors */
  --color-bg: #000;
  --color-bg-secondary: rgb(42 42 43);
  --color-bg-accent: rgb(8, 51, 68);
  --color-bg-hover: #f3f4f6cc;

  /* Text and Border Colors */
  --color-text: rgb(161 161 170);
  --color-text-alt: #fff;
  --color-text-gray: #6b7280;
  --color-border: rgb(0 0 0 / 6%);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-heading: 'Raleway', sans-serif;

  /* Sizes */
  --site-width: 850px;
  --header-height: 66px;
  --header-height-lg: 76px;

  /* Z-index */
  --z-header: 10;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

  // Dark mode colors
  --color-secondary-dark: #af2120;

  --color-link-dark: #af2120;

  --color-bg-dark: #000;
  --color-bg-wrapper-bg-dark: rgb(24 24 27);
  --color-bg-secondary-dark: rgb(42 42 43);
  --color-bg-accent-dark: rgb(8, 51, 68);

  --color-title-dark: rgb(244 244 245);
  --color-text-dark: rgb(161 161 170);

  --color-border-dark: rgb(39, 39, 42);

}
