---
layout: base.njk
section: post
---
<div class="page-container">
  <article>
    <h1 class="animate-on-scroll">{{ title | safe }}</h1>
    <p class="post-meta animate-on-scroll">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </p>
    <hr/>
    <div class="animate-on-scroll">
    {{ layoutContent | safe }}
    </div>

    {# Tags #}
    {% set tags = page.data.tags %}
    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav class="animate-on-scroll">
    <a href="{{ '/blog/' | url }}">← View All Articles</a>
  </nav>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const animatedSections = document.querySelectorAll('.animate-on-scroll');
  const observer = new IntersectionObserver((entries, obs) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        obs.unobserve(entry.target);
      }
    });
  }, { threshold: 0.2 });

  animatedSections.forEach(section => observer.observe(section));
});
</script>